{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
 
 <div class="mt-5">
 	<a class="btn btn-primary">bouton principal</a>
 </div>
  <div class="mt-5">
 	<a class="btn btn-info">bouton voir plus</a>
 </div>
  <div class="mt-5">
 	<a class="btn btn-danger">bouton effacer</a>
 </div>
{% endblock %}
