{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}
	
	{% block stylesheets %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
		{{ parent() }}
	{% endblock %}

{% block body %}

	<div class="row">
		
		<div class="col-3 mt-3">

			<div class="formations mb-3">

				<h5>Liste des formations</h5>

				{{  }}

			</div>

			<div class="formateurs">
			
				<h5>Liste des formateurs</h5>

				{{  }}

			</div>
			

		</div>

		<div class="col-9 mt-3">			
			<div id="calendrier"></div>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js" integrity="sha256-mMw9aRRFx9TK/L0dn25GKxH/WH7rtFTp+P9Uma+2+zc=" crossorigin="anonymous"></script>
	<script src="{{asset('assets/js/calendrier.js')}}" type="text/javascript"></script>
{% endblock %}