<form method="post" action="{{ path('competence_delete', {'id': competence.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette compétence ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competence.id) }}">
    <button class="btn">Supprimer</button>
</form>
