{% extends 'base.html.twig' %}

{% block title %}Editer une compétence{% endblock %}

{% block body %}
    <div class="container">
    <h1>Editer une compétence</h1>

    {{ include('competence/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="row">
    <a class="btn btn-primary my-2" href="{{ path('competence_index') }}">Retour  </a>

    {{ include('competence/_delete_form.html.twig') }}
    </div>
    </div>
{% endblock %}
