{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvel endroit{% endblock %}

{% block body %}

<div class="container-fluid min-vh-100">

  <h1 class="text-center mt-5 p-5">Ajouter un nouvel endroit</h1>

  <div class="col-4 text-center border border-light mt-5 p-5 mx-auto" style="background-color:#E5E5E5FF">
    {{ include('endroit/_form.html.twig') }}
    <a class="btn btn-md btn-info" style="border-radius: 10px" href="{{ path('endroit_index') }}">Retour à la liste</a>
  </div>


</div>


{% endblock %}
