body {
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif !important;
}

.login__form .input-group-prepend {
    color: #fff !important;
    background-color: #fbe56e !important;
    border: 1px solid #fbe56e !important;
    border-radius: 4px 0 0 4px;
}
.login__form .input-group-append {
    color: #fff !important;
    background-color: #fbe56e !important;
    border: 1px solid #fbe56e !important;
    border-radius: 0 4px 4px 0;
}

.input-group-prepend .input-group-text,
.input-group-append .input-group-text {
    color: #343d8c;
    background-color: #fbe56e !important;
    border: 1px solid #fbe56e !important;
}

.login__form .form-control {
    border: 2px solid #fbe56e;
    border-radius: 0 4px 4px 0;
}
.btn-primary {
    color: #fff !important;
    background-color: #343d8c !important;
    border-color: #343d8c !important;
}

.navbar,
.dropdown-menu {
    background: #343d8c;
}

.dropdown-item:hover {
    color: #343d8c !important;
    background: #fbe56e;
}

.navbar a {
    color: #fbe56e;
}

.btn-info {
    color: #fff !important;
    background-color: #46AEB5 !important;
    border-color: #46AEB5 !important;
}

.btn-danger {
    color: #fff !important;
    background-color: #F25E57 !important;
    border-color: #F25E57 !important;
}

#calendrier {
    height: 90vh;
}

.formations h5,
.formateurs h5 {
    background-color: #343d8c !important;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 3px;
}

#formation,
#formateur {
    padding-right: 0;
    margin-left: 0;
}

.fc .fc-button-primary {
    background-color: #343d8c;
    border-color: #fbe56e;
}

.fc-button-active {
    transform: scale(1.01);
    background-color: #343d8c !important;
    color: #fbe56e !important;
}
.fc .fc-button-primary:hover {
    background-color: #262B44;
    color: #fbe56e;
}

#loadingDiv {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    backdrop-filter: blur(2px);
}
#loadingDiv img {
    height: 25%;
    margin-bottom: auto;
    margin-top: auto;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.listformation .form-check {
    color: #ffffff;
    border-radius: 2px;
    padding: 0;
    margin-top: 3px;
}
.listformation .form-check label {
    margin-left: 0.5rem;
}

.listformation ul, .listformateur ul {
    list-style: none;
}

.navbar-toggler:hover {
    border-color:  #fbe56e!important;
}

.navbar-dark .navbar-brand{

   color: #fbe56e!important; 
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color: #fbe56e!important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link .navbar-dark .navbar-brand {
    color :#fbe56e!important;
}

.navbar-dark .navbar-nav .nav-link{
    color :#fbe56e!important;
}