body{
    font-family:'Roboto Condensed','Open Sans',sans-serif!important;
}

.login__form .input-group-prepend {
    color: #fff!important;
    background-color: #fbe56e!important;
    border: 1px solid #fbe56e!important;
    border-radius: 4px 0 0 4px;    
}

.input-group-prepend .input-group-text {
    color: #343d8c;
    background-color: #fbe56e!important;
    border: 1px solid #fbe56e!important;
}

.login__form .form-control {
    border: 2px solid #fbe56e;
    border-radius: 0 4px 4px 0;    
}
.btn-primary {
    color: #fff!important;
    background-color: #343d8c!important;
    border-color: #343d8c!important;
}

.navbar{
    background: #343d8c;
}

.navbar a {
    color: #fbe56e;
}

.btn-info
{
    color: #fff!important;
    background-color: #46AEB5!important;
    border-color: #46AEB5!important;
}

.btn-danger
{
    color: #fff!important;
    background-color: #F25E57!important;
    border-color: #F25E57!important;
}

#calendrier
{
    height: 90vh;
}

.formations h5, .formateurs h5
{
    background-color: #343d8c!important;
    color: white; 
}

#formation,#formateur
{
    padding-right: 0;
    margin-left: 0;
}

.fc .fc-button-primary
{
    background-color: #343d8c;
    border-color: #fbe56e;
}

.fc-button-active
{
    transform: scale(1.01);
    background-color: #343d8c!important;
    color: #fbe56e!important; 
}
.fc .fc-button-primary:hover
{
    background-color: #262B44;
    color: #fbe56e; 
}
